body {
  background-color: #D6F5F2;
  margin: 0;
  padding: 0;
}

.App {
  height: 100%;
  text-decoration: none;
}

.App header {
  background-color: #4F2D53;
  height: 60px;
  padding-left: 32px;
  padding-right: 32px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.logo {
  position: absolute;
  top: 20px;
}

.page-link {
  text-decoration: none;
  font-size: 16pt;
  color: #34CFBD;
  font-family: PT Sans;
  font-weight: regular;
  padding-right: 32px;
  position: relative;
  top: 17px;
  float: right;
  margin-right: 32px;
}
